*{
  margin: 0;
  padding: 0;   
}

body {
    font-family:font-family: 'Cinzel', serif;
    font-family: 'Sedgwick Ave Display', cursive;
}

.background {
    background-color: rgba(#4e2b04);
}

#nav-bar {
    position: sticky; 
    top: 0;
    z-index: 10; 
}
.navbar-nav li a {
    background-image: linear-gradient(to right, #7b3f00, #954535,#814141, #EADDCA)
    padding: 0 !important; 
    



}
.navbar-nav li {
 padding: 0 10px; 
}
.navbar-nav li a {
    color: #552e05 !important; 
    font-weight: 600; 

    <style>
    logo {
          max-width: 200px;
          height: auto;
        }
      </style>
    body {
        div-class=bg container; 
        font-family:font-family: 'Cinzel', serif;
        font-family: 'Sedgwick Ave Display', cursive;
        background-color: #7b3f00;
        background-image: linear-gradient(to right, #7b3f00, #954535,#541c1c, #EADDCA), url("images\butterfloureggs.webp");
    
    }

    .container mt-4 {
        text-align: center;
        
    }
    
    #nav-bar {
        position: sticky; 
        top: 5;
        z-index: 10; 
    }
    .navbar-nav li a {
        background-image: linear-gradient(to right, #7b3f00, #954535,#541c1c, #EADDCA)
        padding: 0 !important; 
    
    
    }
    .navbar-nav li {
     padding: 0 10px; 
    }
    .navbar-nav li a {
        color: #552e05 !important; 
        font-weight: 600; 
.container-mt-4 
   background-image: -moz-linear-gradient(to right, #7b3f00, #954535,#904490;, #EADDCA);
    }
    </style>

    
    
    

    