*{
    margin: 0; 
    padding: 0;
}
#col-lg-4col-md-6mb-4{
    background-image: linear-gradient(to right, #824b0990,#583307);
    padding-top: 1.5%;
    color: #fff;
}

.card {
    align-items: center;
    align-items: stretch;
}

 /* Set background image */
 body {
    background-color: #583307;
    background-size: cover;
 }

 .logo {
    max-width: 200px;
    height: auto;
  }

  .container {
    align-items:stretch;
    align-items: normal; 
}

  .body {
    font-family:'Cinzel', serif;
    font-family: 'Sedgwick Ave Display', cursive;
  }
  .card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }