* { 
    margin: 0; 
    padding: 0; 

}
body {
    font-family:font-family: 'Cinzel', serif;
    font-family: 'Sedgwick Ave Display', cursive;
}
#nav-bar {
    position: sticky; 
    top: 0;
    z-index: 10; 
}
.navbar-nav li a {
    background-image: linear-gradient(to right, #7b3f00, #954535,#814141, #EADDCA)
    padding: 0 !important; 


}
.navbar-nav li {
 padding: 0 10px; 
}
.navbar-nav li a {
    color: #552e05 !important; 
    font-weight: 600; 
}

/*-------------banner section---------------------*/

#banner {
    background-image: linear-gradient(to right, #824b0990,#583307);
    overflow: hidden;
    color:#fff; 
    padding-top: 1.5%;}

   /* Define the animation */
   @keyframes moveGradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  /* Apply the animation to the body */
  body {
    animation: moveGradient 5s linear infinite;
  }


    .promo-title {
        font-size:80px
        font-weight: 600; 
        margin-top: 100px;
        text-align: center; 
        text-wrap: stretch; 
    }

    .p-class {
        font-size: 150px;
        text-align: center;
        font-family: 'Cinzel', serif;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Shadows Into Light', cursive; 


    }

    .promo-bar {
        style: color #00000; 
        background-color: #737297
    }
    
    p {
        align-items: center;
        font-size: larger ;
        font-weight: 300;
        text-align:center;
    }

    .footer {
        position: absolute; 
        bottom: 0px;
        background color:brown; 
        width: 100%;
        text align:center;
    }

.promo-title{
    text-align:center;
}


#carouselExampleDark {
    width: 100%; /* Set width to 100% to occupy the full width of the parent container */
    max-width: 100%; /* Set max-width to 100% to prevent overflow */
    margin-left: 0; /* Remove any default margin */
    margin-right: 0; /* Remove any default margin */
  }
  

    

    